* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

h1,h2,h3,h4,h5,h6,p,hr {
  margin: 0;
}

button {
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
}

.siteTitle {
  font-size: 35px;
  text-align: center;
}

.todoApp {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
}

.addTodo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.formGroup > input, textarea {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  outline: none;
  border: 1.8px solid gray;
  border-radius: 6px;
  padding: 8px;
  background: transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.addBtn,
.removeAllBtn {
  font-size: 20px;
  width: 100%;
  background-color: #765aec;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: .2s ease;
}

.addBtn:hover , .removeAllBtn:hover {
  background-color: #6458EE;
}

.todoList h2 {
  font-size: 35px;
  margin: 20px 0;
  text-align: center;
}

.todoList h3 {
  font-size: 24px;
  color: gray;
  text-align: center;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.todo {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

hr {
  border: none;
  border-bottom: 1px solid gray;
}

.todoContent h5 {
  font-size: 20px;
  margin-bottom: 8px;
}

.todoInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.todoInfo span {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 15px;
}

.todoInfo button {
  font-size: 18px;
  border: none;
  background: none;
  outline: none;
}

.removeAllBtn {
  margin: 25px 0;
}

.theme {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 999;
}

.theme input {
  display: none;
}

.fa-sun {
  color: rgb(247, 255, 216);
}

.fa-moon {
  color: rgb(24, 24, 24);
}

.theme i {
  font-size: 28px;
}

/* ====== dark mode ===== */

.dark {
  background-color: #000;
}

.dark > * {
  color: #fff;
}

.dark input {
  color: #fff;
}

.dark textarea {
  color: #fff;
}

.dark .todoContent > h5 {
  color: #e2dfdf;
}

.dark .todoInfo > p {
  color: #cecece;
}

.dark small {
  color: #A8A8A8;
}

.dark .deleteBtn {
  color: #A8A8A8;
}


/* ======= Responsive  ===== */

@media (max-width: 1060px) {
  .todoApp {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .todoApp {
    width: 90%;
  }
}

