* {
  box-sizing: border-box;
}

body {
  background: #000;
}

h1 {
  font-size: 45px;
}

.createToDo input {
  padding: 8px;
  border: 2px solid #6e7681;
  border-radius: 8px;
  outline: none;
  min-width: 600px;
  background: #000;
  color: azure;
}

.addBtn {
  background-color: #765aec !important;
  color: antiquewhite;
}

hr {
  width: 100%;
  padding: 1px;
  background-color: aliceblue;
}

.todoList {
  width: 100%;
  max-height: 370px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.todoList::-webkit-scrollbar {
  width: 20px;
}

.todoList::-webkit-scrollbar-thumb {
  background-color: #765aec;
  border-radius: 10px;
}

.todoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border: 1.5px solid #6e7681;
  border-radius: 6px;
  padding: 5px 0 5px 10px;
  margin-right: 10px;
}

.todoList li > span:first-child {
  width: 460px;
}

.trashBtn {
  border: none;
}
